#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
 }

/**********************
HEADER
**********************/
#title {
    text-align: center;
    margin: 0;
}

header {
    background-color: hotpink; 
    border-color: deeppink;
}

h1, h2 {
    color: #fff;
}
header h1 {
    font-family: "宋体";
}
header h2 {
    font-family: Arial, Helvetica, sans-serif;
}
/**********************
NAVIGATION
**********************/
nav a, nav a:visited {
    color: #fff;
}

nav {
    background-color: deeppink;
}

nav a.selected, nav a:hover{
    color: pink;
}

/* Global */
body {
    color: #999;    
}

a {
    text-decoration: none;
}